body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    background-color: #000000;
}
main{
    flex: 1;
    padding-bottom: 175px;
}
footer{
    background-color: #000000;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 15px 10px 15px;
}

.alert-msg{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
}
.item{
    border: 1px solid black;
    margin: 10px;
}
.title{
    flex-basis: 15%;
    border-bottom: 1px solid black;
    /*background-color: #f2f2f2;*/
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.col-desc{
    position: fixed;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
.col-desc-title{
    flex-basis: 20%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}


.bg-gray{
    background-color: #f2f2f2;
}
.content{
    margin-top: 30px;
}
.title-route-number{
    flex-basis: 20%;
    flex-shrink: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    height: 40px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
.title-etc{
    /*background-color: #f2f2f2;*/
    flex-basis: 60%;
    flex-shrink: 0;
    display: flex;
    justify-content: left;
    padding-left: 10px;
    align-items: center;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.item__etc:first-child{
    color: red;
}
.value{
    flex-basis: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thead-item-col1{
    flex-basis: 20%;
    background-color: #ede0d4;
    border-right: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thead-item-col2{
    flex-basis: 20%;
    background-color: #E9E4DE;
    border-right: 1px solid black;
    padding-left: 10px;
}
.thead-item-col3{
    flex-basis: 60%;
    text-align: left;
    background-color: #E9E4DE;
    padding-left: 10px;
}
.tbody-item-col1{
    flex-basis: 20%;
    border-right: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tbody-item-col1-etc{
    flex-basis: 20%;
    border-right: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tbody-item-col2{
    flex-basis: 79%;
    text-align: left;
    padding-left: 10px;
}
.tbody-item-col3{
    flex-basis: 1%;
}

.value-item-icon{
    color: #4e555b;
    flex-basis: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.value-item-time{
    color: #4e555b;
}
.value-path-div{
    flex-basis: 100%;
}

.value-etc-time{
    flex-basis: 80%;
    text-align: left;
    /*border-left: 1px solid black;*/
}
.content-border-bottom{
    border-bottom: 1px solid #000000;
}

.select-label{
    background-color: #006CA9;
    color: white;
    margin-right: 2px;
}
/* 버스 탑승 가능 시 색상*/
.item-focus{
    border: 2px dashed red;
}

.toggle-btn {
    flex: 1;
    background-color: #0068A2;
    /*color: gray;*/
    cursor: pointer;
    border: 2px solid white;
    color: white;
}

/* 활성화된 버튼 스타일 */
.toggle-btn.active {
    background-color: gold;
    color: black;
}
/*refreshBtn CSS 처리*/
.button-refresh{
    background-color: gold;
    width: 100%;
    /*font-size: 0.8rem;*/
}
.button-refresh:active{
    background-color: #818182;
}
.button-label{
    font-weight: bold;
    text-align: center;
    font-size: 0.9rem;
}
/* 비활성 버튼에 대한 스타일링 */
.refresh-icon.disabled,
.refresh-icon:disabled {
    pointer-events: none; /* 클릭 및 이벤트 무시 */
    opacity: 0.65; /* 투명도를 조정하여 비활성 상태 시 시각적으로 구분 */
    /*background-color: silver;*/
    color: transparent;
}

/* .disabled 클래스가 적용된 버튼에 대한 active 효과 제거 */
.refresh-icon.disabled.active,
.refresh-icon:disabled.active {
    box-shadow: none; /* active 시 그림자 효과 제거 */
    /* 다른 active 스타일을 제거하고 싶은 경우 추가 스타일링을 여기에 기술할 수 있습니다. */
}

/*비고 글자 색*/
.red-text{
    color: red;
}
.blue-text{
    color: blue;
}
.brown-text{
    color: brown;
}

#refresh-button {
    position: fixed;
    bottom: 120px;
    right: 20px;
    cursor: pointer;
    /* 아이콘 크기 및 스타일을 설정하세요 */
    font-size: 24px;
    /* 아이콘 색상을 원하는 색상으로 설정하세요 */
    color: #007bff;
}
.refresh-icon{
    font-size: 30px;
    color: #006CA9;
}
.refresh-icon:active{
    color: #0086A8;
}

.header-info{
    border: 1px solid #000000;
    color: white;
}

.routeTime{
    font-size: 0.8rem;
    color: black;
    margin-left: 20px;
}
.routeName-select{
    /*font-size: 0.9rem;*/
    font-weight: bold;
    color: green;

}

.routeName-none{
    color: #5e5e5e;
}

@media (max-width: 576px) {
    .div-route{
        flex-basis: 60%;
    }
    .div-path{
        flex-basis:40%;
    }
}
@media(min-width: 576px) {
    .div-route{
        flex-basis: 50%;
    }
    .div-path{
        flex-basis:50%;
    }
}


/*color*/
.bg-ghost-white{
    background-color: #ffffff;
}
.thead-color-col1{
    background-color: #006CA9;
}

.thead-color-col2{
    background-color: #749AC2;
}
.thead-color-col3{
    background-color: #749AC2;
}
.tbody-color-col1{
    background-color: #ffffff;
}
.tbody-color-etc{
    background-color: #F2F2F2;
}
