body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    background-color: #000000;
}
main{
    flex: 1;
    padding-bottom: 100px;
}
footer{
    background-color: #000000;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 5px;
}

.item{
    border: 1px solid black;
    margin: 10px;
}
.title{
    flex-basis: 100px;
    background-color: #3F4045;
    color: white;
    flex-shrink: 0;

    border: 1px solid #CCCCCC;

    display: flex;
    justify-content: center;
    align-items: center;
}

.value{
    flex-basis: 100%;
    border-left: 1px solid black;
}

.content-border-bottom{
    border-bottom: 1px solid black;
}

/* 버스 탑승 가능 시 색상*/
.item-focus{
    background-color: #CAF1E7;
}

/* 토글 버튼 및 래퍼 div 스타일링 */
.toggle-wrapper {
    display: flex;
    /*background-color:;*/
    padding: 3px;
}

.toggle-btn {
    flex: 1;
    background-color: #333333;
    /*color: gray;*/
    color: white;
    cursor: pointer;
    border: 2px solid white;
}

/* 활성화된 버튼 스타일 */
.toggle-btn.active {
    background-color: gold;
    color: black;
}
/*refreshBtn CSS 처리*/
.button-refresh{
    background-color: gold;
    width: 100%;
    /*font-size: 0.8rem;*/
}
.button-refresh:active{
    background-color: #818182;
}
.button-label{
    text-align: center;
    font-size: 0.9rem;
}
/* 비활성 버튼에 대한 스타일링 */
.refresh-icon.disabled,
.refresh-icon:disabled {
    pointer-events: none; /* 클릭 및 이벤트 무시 */
    opacity: 0.65; /* 투명도를 조정하여 비활성 상태 시 시각적으로 구분 */
    /*background-color: silver;*/
    color: transparent;
}

/* .disabled 클래스가 적용된 버튼에 대한 active 효과 제거 */
.refresh-icon.disabled.active,
.refresh-icon:disabled.active {
    box-shadow: none; /* active 시 그림자 효과 제거 */
    /* 다른 active 스타일을 제거하고 싶은 경우 추가 스타일링을 여기에 기술할 수 있습니다. */
}

/*비고 글자 색*/
.red-text{
    color: red;
}
.blue-text{
    color: blue;
}
.brown-text{
    color: brown;
}

#refresh-button {
    position: fixed;
    bottom: 110px;
    right: 20px;
    cursor: pointer;
    /* 아이콘 크기 및 스타일을 설정하세요 */
    font-size: 24px;
    /* 아이콘 색상을 원하는 색상으로 설정하세요 */
    color: #007bff;
}
.refresh-icon{
    color: black;
    font-size: 30px;
}
.refresh-icon:active{
    color: gold;
}

.header-info{
    background-color: #000000;
    color: white;
}

.routeTime{
    font-size: 8px;
    color: black;
}
.routeName-select{
    color: green;
    font-weight: bold;
}
.routeName-none{
    color: #696969;
}